#all-three-sections {
  display: flex;
  flex-direction: row; }
  #all-three-sections #main-section {
    display: flex;
    width: 70%;
    flex-direction: column; }
  #all-three-sections #friends-right {
    display: flex;
    width: 30%;
    height: 95vh;
    flex-direction: column;
    background-color: cornsilk;
    position: sticky;
    top: 4rem; }
    #all-three-sections #friends-right h2 {
      color: tomato;
      margin-left: auto;
      margin-right: auto;
      background-color: whitesmoke;
      padding-left: 20%;
      padding-right: 20%; }
    #all-three-sections #friends-right div {
      margin: 15px; }
      #all-three-sections #friends-right div a {
        margin-left: 20px; }

.header {
  position: sticky;
  top: 0; }
