<div id="comment-<% comment._id %>" class="comments">
    <p><%= comment.content %></p>
    <small>
        <a id="delete-comment-button" href="/comments/destroy-comment/<%= comment._id %>">Delete comment</a>
    </small>
    <small><%= comment.user.name %></small>
</div>