
<h1>Forgot Password</h1>
<form action="/users/reset_password/:<%= token %>" method="POST">
    <input type="password" name='password' placeholder="Enter Password" required>
    <input type="password" name='confirm_password' placeholder="Confirm Password" required>


</form>