<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>
        <%=title %>

    </title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- using noty js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>
<body>
    <div class="container">
        <h1><%= title%></h1>
        <form action="/users/create-session" method="POST">
            <p>Username: </p><input type="email" name ="email" placeholder="Enter username" required>
            <p>Password: </p><input type="password" name ="password" placeholder="Enter password"required>
            <button type="submit">Add user</button>
        </form>
        
    </div>      
    <a href="/users/sign-up"><button>Sign Up</button></a>
    <script src="/js/home.js"></script>
    <script>

        <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                theme:'relax',
                type: 'success',
                layout: 'topRight',
                text:'<%= flash.success%>',
                timeout:2000
            }).show();
        <% } %>
        <%if(flash.error && flash.error.length > 0) { %>
        new Noty({
            theme:'relax',
            type: 'error',
            layout: 'bottomleft',
            text :'<%= flash.error %>' ,
            timeout:2000
            }).show();
        <% } %>

    </script>
</body>
</html>