<a href="/users/reset-password/<%= resetPassword.token %>">
    <button>Reset Password</button>
</a>
<p>Here is your reset Password Button , click on it and put up the password </p>
<br>
<br>
<p>You Forgot your password? No worries</p>


