



#all-three-sections{
    display: flex;
    flex-direction: row;

    #main-section{
        display: flex;
        width: 70%;
        flex-direction: column;
    }
    #friends-right{
        display: flex;
        width: 30%;
        height :95vh;
        flex-direction: column;
        background-color: cornsilk;
        position: sticky;
            top :40px;
        h2{
            color: tomato;
            margin-left: auto;
            margin-right: auto;
            background-color: whitesmoke;
            // width: 8em;
            padding-left: 50px;
            padding-right: 50px;
            
        }
        a{
           margin-left: 20px;
        }
    }

}
.header{
    position: sticky;
    top :0;
}

